@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
h1 {
    font-size: 40pt;
    text-align: center;
    color: paleturquoise;
    font-family: 'Coming Soon', cursive;
}

h1:hover {
    color: turquoise;
    text-transform: uppercase;
}

h2 {
    font-family: 'Coming Soon',
    cursive;
    font-size: 25pt;
    color: paleturquoise;
}

body {
    text-align: center;
    background-color: azure
}

fieldset {
    font-family: 'Coming Soon',
    cursive;
    font-size: 12pt;
}

button {
    font-family: 'Coming Soon',
    cursive;
    font-size: 12pt;
}

p {
    font-family: 'Coming Soon',
    cursive;
    font-size: 15pt;
}
